body {
    font-family: OpenSans;
}

h1 {
    text-align: center;
}

.button-primary {
    background: #8C8D92;
    box-shadow: 0px 2px 4px 0px rgba(95, 96, 100, 0.65);
    border-radius: 3px;
    font-size: 18px;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.button-long {
    height: 90px;
}

.button-wider {
    width: 85px;
}

.button-special {
    background: #7579C2;
    width: 50px;
}

.button-clear {
    background: #C58D98;
    width: 80px;
}

.calculator {
    width: 220px;
    background: #19193B;
    margin:  0 auto;
    padding: 10px 0 5px 10px;
}

.calculator-input-display-field {
    height: 40px;
    width: 210px;
    box-sizing: border-box;
    font-size: 24px;
    border: 2px solid #B8B8B8;
}

.calculator-clear-input-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 5px 0 0;
}

.calculator-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.calculator-number-input-container,
.calculator-operator-input-container {
    display: inline-block;
}

.calculator-number-input-container {
    flex: 3;
}

.calculator-operator-input-container {
    flex: 1;
}
